* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  color: #e5e7eb;
  background: linear-gradient(135deg, #0a133a 0%, #0a1634 40%, #01092a 100%);
  padding: 10px;
}

.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  padding: 40px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #020617, #020617ee);
  z-index: 9999;   
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: #366efd;
}
html {
  scroll-behavior: smooth;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 17px;
  position: relative;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background: #38bdf8;
  transition: width 0.3s;
}

.nav-menu a:hover::after {
  width: 100%;
}

#menu-toggle {
  display: none;
}
.nav-menu a.active {
  color: #38bdf8;
}

.nav-menu a.active::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #e5e7eb;
}
.hero-content {
  background: rgba(255, 255, 255, 0.04);
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  max-width: 1000px;
}

.hero {
  padding: 80px;
}
h1{
  color: rgb(253, 253, 253);
  margin-bottom: 10px;
}
.name{
  background: linear-gradient(to left, #1100ff, #38b3e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.hero-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-size: 20px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 25px;
}

.btn {
  padding: 10px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.btn.primary {
  background: linear-gradient(135deg, #38bdf8, #366efd);
  color: #020617;
}

.btn.primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(56, 189, 248, 0.40);
}

.btn.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn.secondary:hover {
  background: rgba(56, 189, 248, 0.1);
  transform: translateY(-3px);
   box-shadow: 0 8px 20px rgba(62, 56, 248, 0.35);
}
.hero-image img {
  width: 350px;
  height: 370px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38b8f8;
  box-shadow: 0 0 40px rgb(17, 149, 243);
  
}

.hero-socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.hero-socials a {
  color: #cbd5f5;
  font-size: 22px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.hero-socials a:hover {
  color: #38bdf8;
  transform: translateY(-3px);
}

@media (max-width: 900px) {
  .hero-socials {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #020617;
  }

  #menu-toggle:checked ~ .nav-menu {
    display: block;
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 20px;
  }
  .hero-image img {
    width: 200px;
    height: 200px;
    margin-left: 0; 
  }
}

@media (max-width: 900px) {
  .hero-buttons {
    justify-content: center;
  }
}

/* ABOUT */
.about {
  padding: 80px;
  text-align: center;
}

.about-content {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  font-size: large;
  line-height: 1.8;
  color: #e5e9f3;
  background: rgba(255, 255, 255, 0.04);
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
}
.about-content p {
  margin-bottom: 18px;
}
.about .section-title{  
  font-size: 30px;
  color: #36ecfd;
}

/* TIMELINE EDUCATION */
.timeline {
  position: relative;
  margin: 60px auto;
  max-width: 850px;
}

/* vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 0;              /* line starts at 0 */
  top: 0;
  width: 3px;
  height: 100%;
  background: rgba(255,255,255,0.25);
}

/* each item */
.timeline-item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 50px;   /* pushes card right */
}

/* yellow dot EXACTLY ON LINE */
.timeline-dot {
  position: absolute;
  left: 0;              /* SAME as line */
  top: 10px;
  width: 16px;
  height: 16px;
  background: #facc15;
  border-radius: 50%;
  transform: translateX(-50%); /* center on line */
  box-shadow: 0 0 12px rgba(250, 204, 21, 0.9);
}

/* card */
.timeline-content {
  background: rgba(255,255,255,0.05);
  padding: 20px 25px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(6px);
}
.education .section-title {
  margin-top: 40px;  
  font-size: 30px;
  color: #36ecfd;
}
section:target .section-title {
  color: #38bdf8;
}
